/*
 *  ashiato_css.css
 */

/* body */
body {
  background-image: url(../images/back.jpg);
}

/* p */
p.title {
  font-size: 100px;
  font-weight: bold;
  font-family: "ＤＦ流隷体W5", fantasy;
  position: absolute;
  top: -30px;
  left: 0px;
  text-shadow: 3px 3px 1px black;
}
p.subtitle {
  font-size: 22px;
  font-weight: bold;
  font-family: "ＤＦ流隷体W5", fantasy;
  position: absolute;
  top: 250px;
  left: 20px;
  text-shadow: 3px 3px 1px black;
}
p.intro {
  font-family: "ＤＦロマン雪W9", fantasy;
  text-align: center;
  margin-bottom: 50px;
}

/* table */
table {
  position: relative;
  z-index: 1;
}
table.main {
  margin: auto;
}
table.main td {
  vertical-align: top;
}
table.title {
  width: 600px;
  border-style: ridge;
  margin: auto;
}
table.menu {
  width: 100px;
  background-color: #f1f1f1;
  border-style: outset;
  margin: top;
}
table.updates {
  width: 400px;
  background-color: #f1f1f1;
  border-style: solid;
  border-collapse: collapse;
}
table.twitter {
  width: 250px;
}
table.github {
  font-size: 14px;
  margin-bottom: 10px;
}
table.map {
  width: 600px;
}
table.profile {
  background-color: #ffffff; /* white */
  border-style: ridge;
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}
table.expltools {
  width: 400px;
  height: 200px;
  background-color: #87ceeb; /* skyblue */
  border-style: ridge;
  font-size: 19px;
  color: black;
  font-weight: bold;
  font-family: "ＤＦロマン雪W9", fantasy;
  text-align: center;
  float: top;
  margin-bottom: 200px;
  right: -150px;
}
table.explgames {
  width: 400px;
  height: 200px;
  background-color: #f0e68c; /* khaki */
  border-style: ridge;
  font-size: 19px;
  color: black;
  font-weight: bold;
  font-family: "ＤＦロマン雪W9", fantasy;
  text-align: center;
  float: top;
  margin-bottom: 200px;
  right: -150px;
}
table.explresearch {
  width: 400px;
  height: 200px;
  background-color: #b79fcb; /* crocus */
  border-style: ridge;
  font-size: 16px;
  color: black;
  font-weight: bold;
  font-family: "ＤＦロマン雪W9", fantasy;
  text-align: center;
  float: top;
  margin-bottom: 200px;
  right: -150px;
}
table.expllinks {
  width: 400px;
  height: 200px;
  background-color: #a7d28d; /* apple green */
  border-style: ridge;
  font-size: 21px;
  color: black;
  font-weight: bold;
  font-family: "ＤＦロマン雪W9", fantasy;
  text-align: center;
  float: top;
  margin-bottom: 200px;
  right: -150px;
}
table.outline {
  width: 200px;
  background-color: salmon;
  border-style: groove;
  text-align: center;
}
table.tools {
  border-style: solid;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
table.games {
  width: 600px;
  border-style: inset;
  margin-bottom: 30px;
}
table.research {
  width: 570px;
  border-style: double;
  font-size: 20px;
  font-family: "CRPＣ＆Ｇれいしっく", fantasy;
  margin-bottom: 30px;
}
table.links {
  width: 600px;
  background-color: palegreen;
  border-style: groove;
  border-collapse: collapse;
  text-align: center;
}
table.top {
  width: 100px;
  height: 40px;
  background-color: lightsalmon;
  border-style: groove;
  font-size: 15px;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}
caption.game {
  font-size: 30px;
  color: maroon;
  font-weight: bold;
  font-family: "CRPＣ＆Ｇれいしっく", fantasy;
  text-shadow: 3px 3px 5px pink;
}
caption.research {
  font-size: 20px;
  color: darkolivegreen;
  font-weight: bold;
  font-family: "CRPＣ＆Ｇれいしっく", fantasy;
  text-shadow: 3px 3px 5px green;
}
th {
  color: midnightblue;
  text-shadow: 2px 2px 5px powderblue;
}
tr.link {
  border-top-style: dotted;
}
tr.update {
  border-bottom-style: dotted;
}
td.menu {
  border-style: outset;
}
td.video {
  text-align: center;
}
td.link {
  padding: 20px;
}

/* a */
a {
  text-decoration: none;
}

/* img */
img.titlestring {
  position: absolute;
  left: 0px;
  top: 0px;
}
img.game {
  width: 300px;
}
img.link {
  width: 300px;
}

/* div */
div#ad01 {
  position: absolute;
  top: 10px;
  right: 10px;
}
div#ad02 {
  text-align: center;
}

/* span */
span.red {
  color: tomato;
}
span.green {
  color: springgreen;
}
span.blue {
  color: deepskyblue;
}
span.orange {
  color: orange;
}
span.pink {
  color: pink;
}
span.brown {
  color: chocolate;
}

.btn-text-3d {
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.btn-text-3d:active {
  top: 4px;
  text-shadow: none;
}