[submodule "games/dxopal-sample"]
	path = games/dxopal-sample
	url = https://github.com/bonochof/dxopal-sample.git
[submodule "class/tea-simulation"]
	path = class/tea-simulation
	url = https://github.com/bonochof/tea-simulation.git
	branch = dxopal
[submodule "games/dxothello"]
	path = games/dxothello
	url = https://github.com/bonochof/dxothello.git
