[submodule "class/tea-simulation"]
	path = class/tea-simulation
	url = https://github.com/bonochof/tea-simulation.git
	branch = dxopal
[submodule "games/minimax-othello"]
	path = games/minimax-othello
	url = https://github.com/bonochof/minimax-othello.git
[submodule "games/apple-catch"]
	path = games/apple-catch
	url = https://github.com/bonochof/apple-catch.git
